
 body
{
font-family: verdana,arial;
background-color:white;
margin:0;

}
#size
{
width:800px;
margin:auto;
background:#EEEEEE;
font-color: #444444;
font-size:16px;
}
#tresc
{
padding-left: 20px;
padding - right: 20px;

}
.entry .data
{
width:50%;
float:left;
font-weight:bold;
}
.entry .content
{
width:50%;
float:left;
margin-top: 5px;
}
#header
{
background:#99CCFF;
padding-top:15px;
padding-bottom:15px;
color:white;
}
#header .kontener h1
{
text-align: center;
}
h1
{
font-size:32px;
}
h2
{
font-size:24px;
}
hr{ 
border: 0; 
height: 2px;
margin-bottom:25px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}
#zdjecie img {
width: 200px;
height: 230px;
box-shadow: 5px 5px 3px #888888;

border-radius: 25px;
}
#zdjecie
{
float:left;
width:200px;
margin-top:70px;
}
.bio
{
float:left;
width:560px;
}
.kontener
{
/*width:860px;*/
margin:0 auto;
}

.prawo
{position:relative;
background:#D9E2E1;
margin-top:100px;
padding:20px;
}