 

 .kontener{
  width:800px;
  margin: 0 auto;
  padding: 5px;
 
 }
 #mojFormolarz{
 margin-top:40px;
 width: 100%;
 }
 #mojFormolarz h1
 {
 text-align:center;
 }
 .form-group
 {

 }
 .opis
 {
width:50%;
align:center;
font-weight:bold;

}
.input
 {
width:50%;
height: 3em;
align:center;


 }
 table
 {
 width:100%;
 }
tr
 {
 margin-bottom: 10px;
 }
 .ramowka
 {
 box-shadow: 5px 5px 3px #888888;
border-radius: 5px;
 }
 .ramowka1
 {
border-width:2px;
border-radius: 5px;
width: 70%;
height: 2.3em;
 }